In [24]:
import pandas as pd 
import numpy as np

In [36]:
# load the PECARN data set
# use the Patient Number (PatNum) as the index
df = pd.read_csv('../data/TBI PUD 10-08-2013.csv', index_col=0)

In [37]:
# interate the columns and use the new nullable integer types
# https://stackoverflow.com/a/57180642
def nan_ints(df,convert_strings=False,subset = None):
    types = ['int64','float64']
    if subset is None:
        subset = list(df)
    if convert_strings:
        types.append('object')
    for col in subset:
        try:
            if df[col].dtype in types:
                df[col] = df[col].astype(float).astype('Int64')
        except:
            pass
    return df

In [38]:
df = nan_ints(df)

In [39]:
df.head(3)

,EmplType,Certification,InjuryMech,High_impact_InjSev,Amnesia_verb,LOCSeparate,LocLen,Seiz,SeizOccur,SeizLen,...,Finding20,Finding21,Finding22,Finding23,DeathTBI,HospHead,HospHeadPosCT,Intub24Head,Neurosurgery,PosIntFinal
PatNum,,,,,,,,,,,,,,,,,,,,,
1,3,3,11,2,0,0,92,0,92,92,...,92,92,92,92,0,0,0,0,0,0
2,5,3,8,2,0,0,92,0,92,92,...,0,0,0,0,0,0,0,0,0,0
3,5,3,5,2,NaN,NaN,92,NaN,92,92,...,0,0,0,0,0,1,0,0,0,0

In [40]:
pd.set_option('display.max_rows', 125)
df.dtypes

EmplType              Int64
Certification         Int64
InjuryMech            Int64
High_impact_InjSev    Int64
Amnesia_verb          Int64
LOCSeparate           Int64
LocLen                Int64
Seiz                  Int64
SeizOccur             Int64
SeizLen               Int64
ActNorm               Int64
HA_verb               Int64
HASeverity            Int64
HAStart               Int64
Vomit                 Int64
VomitNbr              Int64
VomitStart            Int64
VomitLast             Int64
Dizzy                 Int64
Intubated             Int64
Paralyzed             Int64
Sedated               Int64
GCSEye                Int64
GCSVerbal             Int64
GCSMotor              Int64
GCSTotal              Int64
GCSGroup              Int64
AMS                   Int64
AMSAgitated           Int64
AMSSleep              Int64
AMSSlow               Int64
AMSRepeat             Int64
AMSOth                Int64
SFxPalp               Int64
SFxPalpDepress        Int64
FontBulg              Int64
SFxBas                Int64
SFxBasHem             Int64
SFxBasOto             Int64
SFxBasPer             Int64
SFxBasRet             Int64
SFxBasRhi             Int64
Hema                  Int64
HemaLoc               Int64
HemaSize              Int64
Clav                  Int64
ClavFace              Int64
ClavNeck              Int64
ClavFro               Int64
ClavOcc               Int64
ClavPar               Int64
ClavTem               Int64
NeuroD                Int64
NeuroDMotor           Int64
NeuroDSensory         Int64
NeuroDCranial         Int64
NeuroDReflex          Int64
NeuroDOth             Int64
OSI                   Int64
OSIExtremity          Int64
OSICut                Int64
OSICspine             Int64
OSIFlank              Int64
OSIAbdomen            Int64
OSIPelvis             Int64
OSIOth                Int64
Drugs                 Int64
CTForm1               Int64
IndAge                Int64
IndAmnesia            Int64
IndAMS                Int64
IndClinSFx            Int64
IndHA                 Int64
IndHema               Int64
IndLOC                Int64
IndMech               Int64
IndNeuroD             Int64
IndRqstMD             Int64
IndRqstParent         Int64
IndRqstTrauma         Int64
IndSeiz               Int64
IndVomit              Int64
IndXraySFx            Int64
IndOth                Int64
CTSed                 Int64
CTSedAgitate          Int64
CTSedAge              Int64
CTSedRqst             Int64
CTSedOth              Int64
AgeInMonth            Int64
AgeinYears            Int64
AgeTwoPlus            Int64
Gender                Int64
Ethnicity             Int64
Race                  Int64
Observed              Int64
EDDisposition         Int64
CTDone                Int64
EDCT                  Int64
PosCT                 Int64
Finding1              Int64
Finding2              Int64
Finding3              Int64
Finding4              Int64
Finding5              Int64
Finding6              Int64
Finding7              Int64
Finding8              Int64
Finding9              Int64
Finding10             Int64
Finding11             Int64
Finding12             Int64
Finding13             Int64
Finding14             Int64
Finding20             Int64
Finding21             Int64
Finding22             Int64
Finding23             Int64
DeathTBI              Int64
HospHead              Int64
HospHeadPosCT         Int64
Intub24Head           Int64
Neurosurgery          Int64
PosIntFinal            Int8
dtype: object

In [7]:
df.describe()

,PatNum,EmplType,Certification,InjuryMech,High_impact_InjSev,Amnesia_verb,LOCSeparate,LocLen,Seiz,SeizOccur,...,Finding20,Finding21,Finding22,Finding23,DeathTBI,HospHead,HospHeadPosCT,Intub24Head,Neurosurgery,PosIntFinal
count,43399.000000,43381.000000,43399.000000,43098.000000,43065.000000,41103.000000,41507.000000,40843.000000,42487.000000,43328.000000,...,43399.000000,43399.000000,43399.000000,43399.000000,43391.000000,43396.000000,43399.000000,43395.000000,43398.000000,43379.000000
mean,21700.000000,3.996750,3.984055,13.905146,1.986555,32.888159,0.213313,82.578532,0.014193,90.890694,...,58.296643,58.296551,58.296850,58.296297,0.001521,0.020002,0.015968,0.004401,0.004609,0.017589
std,12528.356503,1.161454,11.178135,22.697257,0.565865,43.603687,0.514553,27.517329,0.118286,9.949818,...,44.326113,44.326233,44.325843,44.326564,0.038971,0.140008,0.125353,0.066198,0.067730,0.131454
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10850.500000,3.000000,2.000000,6.000000,2.000000,0.000000,0.000000,92.000000,0.000000,92.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,21700.000000,5.000000,3.000000,8.000000,2.000000,0.000000,0.000000,92.000000,0.000000,92.000000,...,92.000000,92.000000,92.000000,92.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,32549.500000,5.000000,3.000000,10.000000,2.000000,91.000000,0.000000,92.000000,0.000000,92.000000,...,92.000000,92.000000,92.000000,92.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,43399.000000,5.000000,90.000000,90.000000,3.000000,91.000000,2.000000,92.000000,1.000000,92.000000,...,92.000000,92.000000,92.000000,92.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [41]:
# looks like the data is quite imbalanced
df.groupby('PosIntFinal').count()

,EmplType,Certification,InjuryMech,High_impact_InjSev,Amnesia_verb,LOCSeparate,LocLen,Seiz,SeizOccur,SeizLen,...,Finding14,Finding20,Finding21,Finding22,Finding23,DeathTBI,HospHead,HospHeadPosCT,Intub24Head,Neurosurgery
PosIntFinal,,,,,,,,,,,,,,,,,,,,,
0,42598,42616,42330,42301,40458,40852,40290,41847,42559,42524,...,42616,42616,42616,42616,42616,42611,42615,42616,42614,42615
1,763,763,748,744,626,635,535,620,750,740,...,763,763,763,763,763,763,763,763,762,763